@import url(main.css);

/* Общие стили для всех input, включая текстовые поля и кнопки */
input {
    padding: 4px;
    border-width: 2px;
    border-style: solid;
    border-top-color: var(--primary-color);
    border-left-color: var(--primary-color);
    border-bottom-color: var(--secondary-color);
    border-right-color: var(--secondary-color);
    background-color: var(--base-color);
    font-family: "MS Sans Serif", sans-serif;
    font-size: 12px;
    box-shadow: inset 1px 1px var(--semi-bkg-color);
    color: var(--text-color);
    box-sizing: border-box;
  }
  

input:focus {
    outline: none; /* Убираем дефолтную обводку фокуса */
    border-top-color: var(--primary-accent-color);
    border-left-color: var(--primary-accent-color);
    border-bottom-color: var(--secondary-accent-color);
    border-right-color: var(--secondary-accent-color);
    background-color: var(--primary-color);
}

/* Стили для текстовых полей (text, password, email и т.д.) */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="search"],
textarea {
  width: 100%;
  display: block;
}

/* Стили для кнопок */
input[type="submit"],
input[type="button"],
button {
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover {
    border-top-color: #808080;
    border-left-color: #808080;
    border-bottom-color: #fff;
    border-right-color: #fff;
}

input[type="checkbox"],
input[type="radio"] {
  accent-color: var(--primary-accent-color);
}
