h1 {
  color: #96a27f;
  text-align: center;
}

div.in_bar {
    display: flex;
    padding: 5px;
}

a:hover {
    text-decoration: none;
}

a.links_in_bar {
    color: #DDDDDD;
    transition: all 0.3s ease;
}

a.links_in_bar:hover {
    color: #FFFFFF;
}

a.personal {
    color: #f6b147;
    transition: all 0.3s ease;
}

a.personal:hover {
    color: #d8ac6a;
    background-color: #5287a1;
}

#headerMain {
    height: 100px;
    margin:0px auto;
    z-index:0;
}

.space {
  padding: 20px;
  background: #0f0c15AA;
  border-top: 3px solid #96a27f;
  border-left: 3px solid #96a27f;
  border-bottom: 4px solid #493131; 
  border-right: 4px solid #493131; 
  margin: 10px;
  display: block;
}

.space > h2 {
    color: #d8ac6a;
}

.important {
    font-size: 1rem;
    color: #5287a1;
    margin-bottom: 12px;
    flex: 1; /* Описание занимает доступное пространство между другим контентом */
}

body {
    background-image: url("/static/img/bkg.png");
    color: #96a27f;
    background-color: #1b1616;
}
