{% extends "base.html" %}

{% block content %}
<h1>Каталог фильмов</h1>
<div class="space">
    <h2> Настройки </h2>
    <form action="" method="post">
        {{form.hidden_tag()}}
            {{form.per_page.label}}
        <div style="display: flex; align-items: center;">
            {{form.per_page()}}
            {{form.submit(type="submit")}}
        </div>
        <br>
        <div style="display: flex; align-items: center; justify-content: space-between;">
            {% if current_page > 1 %}
                <a href="{{ url_for('management.cathalog', page=current_page - 1, per_page=per_page) }}" class="button-link dark-button"> Назад</a>
            {% else %}
                <span class="button-link dark-button disabled-link"> Назад</span>
            {% endif %}
            {% if current_page < total_pages %}
                <a href="{{ url_for('management.cathalog', page=current_page + 1, per_page=per_page) }}" class="button-link dark-button"> Вперед</a>
            {% else %}
                <span class="button-link dark-button disabled-link"> Вперед</span>
            {% endif %}
        </div>
    </form>
</div>

{% if check_privelege %}
    <div class="space">
        <h2>Тут мог бы быть Ваш фильм</h2>
        <a href="{{url_for('management.cathalog_edit')}}" class="button-link light-button">Добавить!</a>
    </div>
{% endif %}

{% for movie in movies %}
    <div class="space">
        <h2>{{movie["name"]}}</h2>
        <p class="important">{{movie["price"]}}</p>
        {% if movie["description"] %}
        <p>{{movie["description"]}}</p>
        {% endif %}
        {% if check_privelege %}
        <a href="{{url_for('management.cathalog_edit', id=movie['id'])}}" class="button-link dark-button">
            Редактировать
        </a>
        {% endif %}
    </div>
{% endfor %}

{% endblock %}