{% extends "base.html" %}
{% from "pagination.html" import pagination, add_element, 
    cond_field,  element_view %}

{% block content %}
<h1>Каталог фильмов</h1>
{{ pagination(current_page, total_pages, "management.cathalog", per_page, form) }}

{{ add_element(check_privelege, "Тут мог бы быть Ваш Фильм", "management.cathalog_edit") }}

{% for movie in movies%}
    {% call() element_view(movie, check_privelege, "management.cathalog_edit") %}
        <h2>{{movie["name"]}}</h2>
        {{ cond_field(movie["price"], "important")}}
        {{ cond_field(movie["description"])}}
    {% endcall %}
{% endfor %}

{% endblock %}