{% extends "base.html" %}
{% import "pagination.html" as manip %}

{% block content %}
<h1>Каталог фильмов</h1>
{{ manip.pagination(current_page, total_pages, "management.cathalog", per_page, form) }}

{{ manip.add_element(check_privelege, "Тут мог бы быть Ваш Фильм", "management.cathalog_edit") }}

{% for movie in movies%}
    {% call() manip.element_view(movie, check_privelege, "management.cathalog_edit") %}
        <h2>{{movie["name"]}}</h2>
        {{ manip.cond_field(movie["price"], "important")}}
        {{ manip.cond_field(movie["description"])}}
    {% endcall %}
{% endfor %}

{% endblock %}