{% extends "base.html" %}
{% import "form_tools.html" as tools %}

{% block header%}
{% endblock %}

{% block content %}
<div class="space">
    <form action="" method="post">
      {{ form.hidden_tag() }}
      {% for field in [form.first_name, form.last_name, 
                          form.middle_name, form.phone_number, 
                          form.date_of_birth]%}
          {{tools.display_form_field(field)}}
      {% endfor %}
      <br>
      {{tools.edit(form)}}
    </form>
    <br>
    {{tools.show_message_if_need(message)}}
</div>
{% endblock %}