{% extends "base.html" %}

{% block header%}
{% endblock %}

{% block content %}
<h1>
  Информационная система "видеопрокат"
</h1>
<div class="space"> 
  <h2>СИСТЕМНЫЙ АНАЛИЗ ПРЕДМЕТНОЙ ОБЛАСТИ</h2>
  <p>
  Разработанная база данных создаётся для информационного обслуживания видеопроката. База данных будет содержать данные про предоставляемые для аренды вещи (специфика --- видеоматериал, фильмы), предоставлять отслеживание статуса арендованной вещи и арендаторов, информацию по состоянию различных точек проката сети. 
  1. Пользователи:
      1.1. Вводится общая сущность пользователя информационной системы, ей сопоставляется тройка значений:
          1.1.1. Идентификатор;
          1.1.2. Логин;
          1.1.3. Пароль (для подтверждения лица соответствия данному пользователю информационной системы).
      1.2. Данной тройке значений, обозначающей пользователя информационной системы, сопоставляется набор персональных данных;
      1.3. Роли:
          1.3.1. Данной тройке значений, обозначающей пользователя информационной системы, сопоставляется некоторое множество ролей в работе информационной системы;
          1.3.2. Каждая роль определяет набор доступных частей информационной системы. Эти возможности определяются множеством привилегий, определенных в информационной системе. Таким образом, роль есть именованное подмножество множества привилегий. 
      1.4. Подмножества
          1.4.1. Для множества пользователей используемой информационной системы есть подмножество клиентов.
          1.4.2. Для множества пользователей используемой информационной системы есть подмножество сотрудников.
          1.4.3. Эти два подмножества могут пересекаться.
  2. Аренда:
      2.1. Клиенты могут брать в аренду носители видеоматериалов (фильмов).
      2.2. Каждая аренда характеризуется:
          2.2.1. Идентификатор аренды;
          2.2.2. Дата начала аренды;
          2.2.3. Планируемая дата возврата;
          2.2.4. Фактическая дата возврата;
          2.2.5. Идентификатор клиента, взявшего в аренду видеоматериал;
          2.2.6. Идентификатор сотрудника, оформившего аренду;
      2.3. Данной аренде сопоставляется множество арендуемых носителей необходимого видеоматериала.
      2.4. Система должна поддерживать возможность отслеживания истории аренд каждого клиента.
      2.5. Система должна позволять отслеживать текущие аренды (не возвращенные носители).
  3. Носитель:
      3.1. Характеризуется:
          3.1.1. Идентификатором носителя;
          3.1.2. Тип носителя;
          3.1.3. Идентификатором сопоставленному носителю содержащегося видеоматериала (фильма);
      3.2. Данному носителю сопоставляется видеоматериал;
  4. Видеоматериал (фильм):
      4.1. Характеризуется:
          4.1.1. Идентификатор фильма;
          4.1.2. Название фильма;
          4.1.3. Описание фильма;
      4.2. Для данного видеоматериала (фильма) сопоставляется множество носителей.
  </p>
</div>
{% endblock%}