{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block content %}
    <h1>Вход</h1>
    <div class="space">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div>
                {{ form.login.label }} <br>
                {{ form.login() }} <br>
                {% for error in form.login.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
            <div>
                {{ form.password.label }} <br>
                {{ form.password(type="password") }} <br>
                {% for error in form.password.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
            <p> {{ form.remember_me() }} {{ form.remember_me.label() }} </p>
            <p> {{ form.submit(type="submit")}} </p>
            {% if message %}
                <div class="alert alert-warning">{{ message }} </div>
            {% endif %}
        </form>
    </div>
{% endblock %}