{% extends "base.html" %}

{% block header%}
{% endblock %}

{% block content %}
<h1>Личный кабинет</h1>
<div class="space">
    <h2> Персональные данные </h2>
    {% if personal_data %}
        {% for field in [personal_data.first_name, personal_data.last_name, personal_data.middle_name, personal_data.phone_number, personal_data.date_of_birth]%}
        <div>
            {{field}}
        </div> <br>
        {% endfor %}
        <a href="/edit_personal_data" class="button-link dark-button"> Что-то не так... Изменить данные! </a>
    {% else %}
    Увы, мы пока ничего о Вас не знаем. Введите Ваши пользовательские данные
        <a href="/edit_personal_data" class="button-link light-button"> Ввести данные! </a>
    {% endif %}
    {% if is_client %}
        
    {% endif %}
</div>
{% endblock %}