{% extends "base.html" %}
{% import "form_tools.html" as tools %}

{% block header%}
{% endblock %}

{% block content %}
    <h1>Редактор точки проката</h1>
    <div class="space">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            {% for field in [form.address, form.description] %}
                {{tools.display_form_field(field)}}
            {% endfor %}
            {{tools.edit_or_delete(form, form_del)}}
        </form>
            {{tools.show_message_if_need(message)}}
    </div>
{% endblock %}